<div class="card border-dark">
  <div class="card-body">
    <a href="/post/{{id}}">
      <h5 class="card-title">{{title}}</h5>
    </a>
    <h6 class="card-subtitle mb-2 text-muted">Written by: {{user.username}} | Posted On: {{format_date post_date_created}}</h6>
    <p class="card-text">{{contents}}</p>
  </div>
</div>